// Text field
$text-field-border-radius: 0;
// Button
$btn-text-transform: none;
$btn-border-radius: 0;
//  Dialog
$dialog-border-radius: 0;
// Snackbar
$snackbar-background-color: #212121 !important;
$snackbar-border-radius: 0;